language: node_js
sudo: false
node_js:
- 7.8.0

branches:
  except:
  - gh-pages

cache:
  directories:
  - "./node_modules"

script:
- ng lint
- ng build -prod -aot -bh=\/

addons:
  ssh_known_hosts: cleanfootprint.org

before_deploy:
- openssl aes-256-cbc -K $encrypted_bde71a9f4945_key -iv $encrypted_bde71a9f4945_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- chmod 0400 deploy_rsa
- tar -zcvf build.tar.gz dist
- zip -r build.zip dist/

deploy:
  - provider: script
    skip_cleanup: true
    script: rsync -az -e "ssh -i deploy_rsa" ./dist/ cleanfootprint@cleanfootprint.org:~/site/ --delete-after
    on:
      tags: true
  - provider: releases
    api_key:
      secure: WWYvtxhVkWnc4wcJ4uYY09hKvm9LX1t/YVzZ8MZsjzLLvc7QH+mjDK7NkfAXHwkNU0IH8xjjdmkqeFuh51dpfGG4hE6IW4rmoyNAN0zKf6/AXuSvykiGXY4F1+TA1Sze66i9ONjq9n5X1+epLG/pKMw1OSBX7gymCf0xsEoGe382fq1jDosCQ0M5qJLenc/ZCg2wRM95L1tTy0toWMM9u1M/iS9o6zBZGnfhMkWqME/HU6TIWAL92SZRfcGwOfu0AjBwY4sTbJnRtAO+1EeHfpRAj1JLHaNSa7bgP8CTfyAox+aYSk9N4EumYmVNThP37ExZw5IAVusJmQnyhMhUTw3xgapmo7483N0Tjx1eMMwJGUwKP6OYs8f6XzICluEO9tqOrLDnhuv2JgRYfr6juZh0AE34v4cCSPMFZ9I96mm9LlhBXEQZt5rmft2YBQ2Jm1czfqEVLYSfPoudPcZBV7pBRLEHjBwKGru1ijoqLAXax1NqVVp2C+WzHGZVfV+eDn6+HDP/YBZrEm/WYfdti7yhOVXGnl5wKqTTurMyNgOUPmprvLDGeL/pl76SgEtT3cwX5CpWfhu0XPlZziKCw6OvMN94+9QYW5B3NoERqlf5m6bI7RW2XdHlZefizqGNHSI/xoPdBESJv/CLa7TmaCqp2H0quYzpnWHtTwm0bhU=
    skip_cleanup: true
    file_glob: true
    file: "./build.*"
    on:
      tags: true
