language: node_js
sudo: false
node_js:
- 7.8.0

branches:
  except:
  - gh-pages

cache:
  directories:
  - "./node_modules"

script:
- ng lint
- ng build -prod -aot -bh=\/

addons:
  ssh_known_hosts: cleanfootprint.org

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -az -e "ssh -i deploy_rsa" ./dist/ cleanfootprint@cleanfootprint.org:~/site/ --delete-after
  on:
    tags: true

before_install:
- openssl aes-256-cbc -K $encrypted_bde71a9f4945_key -iv $encrypted_bde71a9f4945_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- chmod 0400 deploy_rsa
