<footer>
  <div class="container content text-center text-md-left">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/index">Главная</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" routerLink="/projects">Проекты</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" routerLink="/about">О Нас</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav flex-column justify-content-center">
          <li class="nav-item text-uppercase">
            <a class="nav-link" routerLink="/calculator">Калькулятор</a>
          </li>
          <li class="nav-item text-uppercase" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/account">Личный Кабинет</a>
          </li>
          <li class="nav-item text-uppercase" *ngIf="!loggedIn">
            <a class="nav-link" routerLink="/signup">Регистрация</a>
          </li>
          <li class="nav-item text-uppercase" *ngIf="!loggedIn">
            <a class="nav-link" routerLink="/login">Войти</a>
          </li>
          <li class="nav-item text-uppercase" *ngIf="loggedIn">
            <a class="nav-link" (click)="logout()">Выйти</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-md-center">
        <a class="navbar-brand" href="javascript:;" routerLink="/">
          <img src="assets/img/logo.png" alt="logo" style="height:100px;"/>
        </a>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="mailto:we@cleanfootprint.com">we@cleanfootprint.com</a>
          </li>
          <li>
            <a href="callto:+74950039547">+7 495 003 95 47</a>
          </li>
          <li>г. Москва, Долгопрудненское ш, д 3,</li>
          <li>Кластер "Физтех XXI" БЦ "Физтехпарк"</li>
          <li>ИП Никишкин Н.С</li>
          <li>2017. Все права защищены</li>
          <li>
            <a href="../../../assets/docs/puboferta.pdf">Публичная оферта</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
