<footer>
  <div class="container content text-sm-center text-md-left">
    <div class="row justify-content-between">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Главная</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#">Проекты</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#">О Нас</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#">Контакты</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#">Регистрация</a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="#">Войти</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-md-center">
        <a class="navbar-brand" href="/">
          <img src="assets/img/logo.png" alt="logo" style="height:100px;"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="mailto:we@cleanfootprint.com">we@cleanfootprint.com</a><br/>
        <a href="callto:+74950039547">+7 495 003 95 47</a><br/>
        г. Москва, Долгопрудненское ш, д 3, <br/>
        Кластер "Физтех XXI" БЦ "Физтехпарк" <br/>
        ИП Никишкин Н.С <br/>
        2017. Все права защищены <br/>
        <a href="../../../assets/docs/puboferta.pdf">Публичная оферта</a>
      </div>
    </div>
  </div>
</footer>
