<div class="container">
  <p>По данным, введенным вами в Калькулятор Чистых Следов, и с учётом предпринятых вами действий, ваш накопленный экологический след такой</p>
  <div class="row">
    <div class="col-md-6">
      <canvas baseChart width="400px" height="400px"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>

              <!--[options]="lineChartOptions"-->
              <!--[colors]="lineChartColors"-->
              <!--[legend]="lineChartLegend"-->
              <!--(chartHover)="chartHovered($event)"-->
              <!--(chartClick)="chartClicked($event)"></canvas>-->
    </div>
    <div class="col-md-6">
      <canvas baseChart width="400px" height="400"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>
    </div>
  </div>
  <h4>Основные цифры коротко:</h4>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <h2>400</h2>
      <p>кг/год мусора <br/>вы отправляете на свалку</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2>15</h2>
      <p>тонн мусора <br/>отправилось на свалку за время вашей жизни</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2>8</h2>
      <p>тонн выхлопов СО2 в год <br/>выделяется в результате вашей жизнедеятельности</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2>35</h2>
      <p>тонн выхлопов СО2 <br/>уже было выделено за время вашей жизни</p>
    </div>
  </div>
  <p>
    Но не нужно пугаться и заниматься самобичеванием! <br/>
    Ваш след меньше чем след 60% жителей планеты. <br/>
    Кроме того, вы можете снизить его, поддержав один из следующих проектов
  </p>
  <div class="row">
    <div class="col-md-6">
      <app-project-card></app-project-card>
    </div>
    <div class="col-md-6">
      <app-project-card></app-project-card>
    </div>
  </div>
</div>
