<div class="container">
  <p>По данным, введенным вами в Калькулятор Чистых Следов, и с учётом предпринятых вами действий, ваш накопленный экологический след такой</p>
  <div class="row">
    <div class="col-md-6">
      <canvas baseChart width="400px" height="300px"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>

              <!--[options]="lineChartOptions"-->
              <!--[colors]="lineChartColors"-->
              <!--[legend]="lineChartLegend"-->
              <!--(chartHover)="chartHovered($event)"-->
              <!--(chartClick)="chartClicked($event)"></canvas>-->
    </div>
    <div class="col-md-6">
      <canvas baseChart width="400px" height="300px"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>
    </div>
  </div>
  <h2>Основные цифры коротко:</h2>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <h2 class="display-1">400</h2>
      <p>кг/год мусора <br/>вы отправляете на свалку</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2 class="display-2">15</h2>
      <p>тонн мусора <br/>отправилось на свалку за время вашей жизни</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2 class="display-3">8</h2>
      <p>тонн выхлопов СО2 в год <br/>выделяется в результате вашей жизнедеятельности</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h2 class="display-4">35</h2>
      <p>тонн выхлопов СО2 <br/>уже было выделено за время вашей жизни</p>
    </div>
  </div>
  <p>
    Но не нужно пугаться и заниматься самобичеванием! <br/>
    Ваш след меньше чем след 60% жителей планеты. <br/>
    Кроме того, вы можете снизить его, поддержав один из следующих проектов
  </p>
  <div class="row">
    <div class="col-md-6" *ngFor="let proj of projects">
      <app-project-card [project]="proj"></app-project-card>
    </div>
  </div>
  <p>Взгляните, как меняется ваш след с учетом регулярного вклада в проект Переработка Тетрапак на бумфабрике в Боровичах</p>
  <div class="row">
    <div class="col-md-6">
      <canvas baseChart width="400px" height="300px"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>
    </div>
    <div class="col-md-6">
      <canvas baseChart width="400px" height="300px"
              [datasets]="wasteGraphData"
              [chartType]='"line"'
              [labels]="wasteGraphLabels">
      </canvas>
    </div>
  </div>
  <h2>Подпишитесь на снижение экологического следа!</h2>
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <ul class="list-unstyled">
        <li>Помогайте окружающей среде в один клик!</li>
        <li>Получайте на e-mail отчеты об осуществленной переработке!</li>
        <li>Раз в год получайте от нас по почте бумажный благодарственный сертификат, подтверждающий ваш положительный вклад!</li>
      </ul>
    </div>
  </div>

</div>
