<div class="container">
  <nav class="navbar navbar-toggleable-sm navbar-light">
    <div ngbDropdown class="d-inline-block navbar-toggler-right">
      <button class="navbar-toggler" id="dropdownBasic1" ngbDropdownToggle>
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="dropdown-menu bg-inverse" aria-labelledby="dropdownBasic1">
        <button class="btn btn-link" routerLink="/index">Главная</button>
        <button class="btn btn-link" routerLink="/projects">Проекты</button>
        <button class="btn btn-link" routerLink="/about">О Нас</button>
        <button class="btn btn-link" routerLink="/account">Калькулятор</button>
      </div>
    </div>
    <a class="navbar-brand" routerLink="/index">
      <img src="assets/img/logo.png" alt="logo" style="height:50px;"/>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav navbar-nav mr-auto mt-2 mt-sm-0 justify-content-end" style="width: 100%;">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/index" routerLinkActive="active">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/projects" routerLinkActive="active">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">О Нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/account" routerLinkActive="active">Калькулятор</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
