<nav class="navbar navbar-toggleable-sm navbar-light">
  <div class="container" style="width:100%">
    <div ngbDropdown class="d-inline-block navbar-toggler-right">
      <button class="navbar-toggler" id="dropdownBasic1" ngbDropdownToggle>
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="dropdown-menu bg-inverse dropdown-menu-right" aria-labelledby="dropdownBasic1">
        <button class="btn btn-link" routerLink="/index">Главная</button>
        <button class="btn btn-link" routerLink="/projects">Проекты</button>
        <button class="btn btn-link" routerLink="/about">О Нас</button>
        <button class="btn btn-link" routerLink="/calculator">Калькулятор</button>
        <button class="btn btn-link" routerLink="/account">Личный Кабинет</button>
        <button class="btn btn-link" *ngIf="!isLoggedIn()" routerLink="/signup">Регистрация</button>
        <button class="btn btn-link" *ngIf="!isLoggedIn()" routerLink="/login">Войти</button>
        <button class="btn btn-link" *ngIf="isLoggedIn()" (click)="logout()">Выйти</button>
      </div>
    </div>
    <a class="navbar-brand" routerLink="/index">
      <img src="../../../assets/img/logo.png" alt="logo" style="height:50px;"/>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="nav navbar-nav mr-auto mt-2 mt-sm-0 justify-content-end" style="width: 100%;">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/index" routerLinkActive="active">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/projects" routerLinkActive="active">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">О Нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/calculator" routerLinkActive="active">Калькулятор</a>
        </li>
        <li class="nav-item" *ngIf="true">
          <a class="nav-link text-white" routerLink="/account" routerLinkActive="active">Личный Кабинет</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link text-white" routerLink="/signup" routerLinkActive="active">Регистрация</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Войти</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link text-white" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
