<div class="container-fluid numbers__background">
  <div class="container content">
    <div class="row text-sm-center text-md-left">
      <div class="col-md-4">
        <h2 class="display-2">400</h2>
        <p>кг мусора в год - экологический след каждого человека на планете Земля</p>
      </div>
      <div class="col-md-4">
        <h2 class="display-2">2000</h2>
        <p>тонн мусора в год - экологический след каждой компании, выпускающей продукцию в упаковке</p>
      </div>
      <div class="col-md-4">
        <h2 class="display-2">2%</h2>
        <p>от всей этой массы перерабатывается в нашей стране</p>
      </div>
    </div>
    <p>Через сервис <span class="text-primary">ЧИСТЫЙ СЛЕД</span> вы можете <span class="text-primary">СНИЗИТЬ</span> своё воздействие на окружающую среду при помощи ряда простых шагов!</p>
  </div>
</div>
