.numbers__background {
  color: white;
  padding-top: 50px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/bar_home.jpg');
}
