<div class="container content">
  <div class="row">
    <div class="col-md-5 text-center hidden-sm-down">
      <img src="assets/img/logo.png" style="height: 200px" alt="logo"/>
    </div>
    <div class="col-md-7">
      <p>Мы - <span class="text-primary">Некоммерческий Фонд</span> "Чистое Дело".</p>
      <p>Мы предоставляем людям и компаниям простые прозрачные <span class="text-primary">инструменты</span> для <span class="text-primary">снижения</span> своего воздействия на окружающую среду.</p>
      <p>Мы реализуем <span class="text-primary">ПРОЕКТЫ</span>, стимулирующие переработку трудноперерабатываемых типов отходов.</p>
    </div>
  </div>
</div>
