<div class="card project__background" [style.background-image]="setBackground(project)" style="height: 100%;">
  <div class="card-block">
    <h4 class="card-title" [innerText]="project.title"></h4>
    <p class="card-text" *ngFor="let projDescription of project.description" [innerHTML]="projDescription"></p>

    <form [formGroup]="projectForm">
      <button class="btn btn-primary" style="margin-bottom: 15px;">Поддержать</button>
      <div ngbRadioGroup name="radioBasic" formControlName="donationType" class="float-lg-right">
        <label class="btn btn-primary" *ngFor="let type of donationTypes">
          <input type="radio" [value]="type.value">{{ type.label }}
        </label>
      </div>
    </form>
  </div>
</div>
