.project__background {
  padding: 25px;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/pack_borov.jpg');
}
