/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
$primary-color: #00B3A1;
.text-primary {
  color: $primary-color !important;
}
.btn-primary {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}
